* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: seagreen;
    color: white;
}

nav {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.barra-navegacion {
    padding: 8px 15px;
    color: white;
}

.imagen-portada {
    width: auto;
}