* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    background-color: seagreen;
    color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.barra-navegacion {
    color: white;
}

.imagen-portada {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.imagen-section {
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
}

p {
    margin: 10px 6%;
}

a {
    margin: 10px 6%;
    color: aqua;
    text-decoration: underline;
}

h1 {
    margin: 5px 5%;
}

h2 {
    margin: 5px 5%;
    padding: 15px;
}

.imagenes-port {
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
}

.contacto-1 {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

form {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
}

fieldset {
    margin: 10px;
    padding: 10px;
    width: 350px;
}

.boton-centrado {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 600px) {
    .imagen-section {
        width: 650px;
    }

    .imagenes-port {
        width: 650px;
    }

    form {
        width: 650px;
    }

    fieldset {
        width: 650px;
    }
}